#underage{
  display: none;
}

#ofage{
  display: none;
}


.container{
  max-width: 500px;


}

button{
  align-items: center;
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  height: 500px;
}

h5{
  font-size: 8rem;
  text-align: center;
  text-shadow: 2px 2px gray;
}

#header{
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/51XmjL0YehL._SX425_.jpg");

}
